$blue: #1565c0;
$pink: #f50057;
$yellow: #ffcb28;
$grey: #eceff1;
$blue-grey: #455a64;

$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Droid Serif', serif;

$materialz1: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$materialz2: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
$materialz3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);